<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="com.jascola.dao.PictureDao">

    <insert id="insert" parameterType="com.jascola.entity.PicturesEntity">
        INSERT INTO pictures (id,picname,authorname,tag,realdir,virtualdir,indexpic,indexrealdir,counts,flag)
        VALUES (#{id}, #{picname},#{authorname},#{tag},#{realdir},#{virtualdir},#{indexpic},#{indexrealdir},#{counts},1)
    </insert>

    <select id="selectByPicName" parameterType="java.lang.String" resultType="com.jascola.entity.PicturesEntity">
        select id, picname,authorname,tag,realdir,virtualdir,indexpic,indexrealdir,counts FROM pictures
        WHERE flag = 1 AND picname = #{picname}
    </select>

    <select id="selectByAuName" parameterType="com.jascola.dto.PicQueryDto" resultType="com.jascola.entity.PicturesEntity">
        select id, picname,authorname,tag,realdir,virtualdir,indexpic,indexrealdir,counts FROM pictures
        WHERE flag = 1 AND authorname = #{authorname} limit  #{startRow},#{pageSize}
    </select>

    <select id="selectById" resultType="com.jascola.entity.PicturesEntity" parameterType="java.lang.String">
        SELECT id, picname,authorname,tag,realdir,virtualdir,indexpic,indexrealdir,counts from pictures WHERE id=#{id}
    </select>


    <delete id="deleteByPicName" parameterType="java.lang.String" >
        delete from pictures  WHERE picname = #{picname}
    </delete>

    <delete id="deleteByAuName" parameterType="java.lang.String" >
        delete from pictures WHERE authorname = #{authorname}
    </delete>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from pictures where id=#{id}
    </delete>

    <update id="update" parameterType="com.jascola.entity.PicturesEntity">
        UPDATE pictures set picname = #{picname},authorname = #{authorname} , tag=#{tag},realdir=#{realdir},
        virtualdir=#{virtualdir},indexpic=#{indexpic},indexrealdir=#{indexrealdir}
         WHERE flag = 1 AND id=#{id}
    </update>

    <select id="selectAll" resultType="com.jascola.entity.PicturesEntity" parameterType="com.jascola.dto.PicQueryDto">
        SELECT *FROM pictures WHERE flag = 1 limit  #{startRow},#{pageSize}
    </select>

    <select id="selectCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM pictures WHERE flag = 1
    </select>

    <select id="selectCountByAuName"  resultType="java.lang.Integer">
        SELECT count(*) FROM pictures WHERE flag = 1 and authorname = #{authorname}
    </select>

    <select id="checkCollected"  resultType="com.jascola.entity.PicturesEntity" parameterType="java.lang.String">
        SELECT * FROM pictures WHERE id in(SELECT id FROM collection WHERE phone = #{phone});
    </select>
</mapper>