<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="com.jascola.dao.UserDao">

    <insert id="insert" parameterType="com.jascola.entity.UserEntity">
        insert into user (phone,name,password,email) VALUES (#{phone},#{name},#{password},#{email})
    </insert>

    <select id="selectByPhone" parameterType="java.lang.String" resultType="com.jascola.entity.UserEntity">
        select phone , name, password, email from user
        where phone = #{phone}
    </select>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM user WHERE phone = #{phone}
    </delete>

    <update id="update" parameterType="com.jascola.entity.UserEntity">
        UPDATE USER set phone=#{phone},name=#{name},password=#{password},email=#{email} where id=#{id}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.jascola.entity.UserEntity">
        select phone , name, password, email from user where id = #{id}
    </select>

    <select id="selectAll" resultType="com.jascola.entity.UserEntity">
        SELECT *FROM user
    </select>
</mapper>